body {
	background-color: #494949;
	font-family: 'Noto Sans', sans-serif;
	color: white;
	font-size: 14px;
}

a {
	text-decoration: none;
	border-bottom: 1px solid;
	transition: color 0.2s;
	color: lightgray;
}

a:hover {
	color: inherit;
}

h1, h3 {
	font-weight: 400;
}

.bg {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: url(background.jpg);
	background-size: cover;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0);
	background: linear-gradient(to bottom, rgba(66,66,66,1), rgba(0,0,0,0));
	text-align: center;
}

nav a {
	display: inline-block;
	padding: 10px;
	color: white;
	border: none;
	transition: color 0.2s, background-color 0.3s;
}

nav a:hover {
	background-color: rgba(66,66,66,1);
}

.splash {
	position: fixed;
	top: 50%;
	left: 50%;
	text-align: center;
	width: 310px;
	height: 170px;
	margin: -85px 0 0 -155px;
	transform: scale(1.25,1.25);
}

.btn {
	padding: 10px;
	display: inline-block;
	background-color: #212121;
	border-bottom: none;
	transition: color 0.2s, background-color 0.3s;
}

.btn:hover {
	background-color: #333;
}

.btn:active {
	background-color: #111;
}

footer {
	padding: 10px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 12px;
	text-align: center;
}

@keyframes titleanim {
    from {
    	opacity: 0;
    	transform: translate(0,25px) rotateX(-45deg);
    }

    to {
    	transform: rotateX(0deg);
    	opacity: 1;
    }
}

@keyframes subtitleanim {
    from {
    	opacity: 0;
    	transform: translate(0,-25px) rotateX(-45deg);
    }

    to {
    	transform: rotateX(0deg);
    	opacity: 1;
    }
}

.titleanim {
	animation-name: titleanim;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.subtitleanim {
	animation-name: subtitleanim;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}